<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5, user-scalable=yes" />
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../static/common.css"/>
     <link rel="stylesheet" href="../static/post.css"/>
</head>
<body>
    <header>
        <div class="logo"><h2>너만 타냐?</h2></div>
        <nav class="nav">
            <p>로그인입니다</p>
            <ul class="depth">
                <li><a href="#">놀이기구</a></li>
                <li><a href="#">놀이기구 후기</a></li>
                <li><a href="#">나도 탈 수 있을까?</a></li>
            </ul>
        </nav>
    </header>
     <section>
         <div class="mainpage_content">
             <img src="https://i.ibb.co/DgDQb7k/Kakao-Talk-20221114-163721172.jpg">
        </div>
           <span class="img_under_txt">놀이기구 추천</span>
     </section>
</body>
</html>